
.about {
    background-color: teal;
    .aboutheader {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
        .myimage {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .mytext {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .about-me-btn {
                display: inline-flex;
                margin-top: 30px;
                justify-content: space-evenly;
            }
        }
    }
    main {
        // testimonials section style start
        .testimonials {
            header {
                padding: 20px 0;
                h2 {
                    padding-bottom: 10px;
                    border-bottom: 3px solid #ffffff;
                }
            }
            .testimonialscontainer {
                overflow: hidden;
                position: relative;
                // slider button style
                .btn {
                    position: absolute;
                    left: 20px;
                    top: 0;
                    font-size: 20px;
                    padding: 10px;
                    z-index: 9;
                    &:hover {
                        background-color: #000000cc;
                        border-radius: 0 10px 10px 0;
                        cursor: pointer;
                    }
                }
                #right {
                    left: auto;
                    right: 20px;
                    border-radius: 10px 0 0 10px;
                }
                // testimonials slider section
                .alltestimonials {
                    position: relative;
                    top: 23px;
                    left: 0;
                    width: 200%;
                    transition: left 0.5s;
                    // testimonials slider content
                    .testimonialofclint {
                        width: calc( 100% / 4 - 40px);
                        float: left;
                        margin: 20px;
                        border-radius: 10px;
                        background-color: $secondary-light-background-color;
                        h5 {
                            text-align: center;
                            font-size: larger;
                            color: #97e01a;
                            margin: 20px 0; 
                        }
                        .testimonialdetails {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-evenly;
                            align-items: center;
                            .clintImg,
                            .testimonialstext {
                                padding: 15px;
                            }
                            .testimonialstext {
                                line-height: 0;
                                h5 {
                                    text-align: left;
                                }
                                p {
                                    line-height: 1.2;
                                    font-size: 15px;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        // testimonials section style end
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .about {
        header {
           
        }
        main {
            // testimonials section style start
            .testimonials {
                .testimonialscontainer {
                    .alltestimonials {
                        width: 400%;
                        .testimonialofclint {
                            width: calc( 100% / 4 - 40px);
                        }
                    }
                }
            }
        } 
        // testimonials section style end 
    }
}

@media screen and (max-width: 600px) {
    .about {
        header {
            flex-wrap: wrap;
        }
        main {

        }
    }
}