
.about {
    background-color: teal;
    // about header section style start
    .aboutheader {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px 0;
        .myimage {
            width: 30%;
            display: flex;
            justify-content: center;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border: 10px solid brown;
                transform: translate(-30px, 30px);
            }    
            img {
                z-index: 9;
            }
        }
        .mytext {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                margin: 30px 0;
            }
            .about-me-btn {
                display: inline-flex;
                margin-top: 30px; 
                a:first-child {
                    margin-right: 20px;
                }    
            }
        }
    }
    // about header section style end


    // about main section style start
    main {
        // my skill section style start
        .myskills {
            padding: 30px;
            h3 {
                padding-bottom: 15px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 150px;
                    border-bottom: 5px solid brown;
                    border-radius: 5px;
                }
            }
            .skillcontainer {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .skill {
                    margin: 15px 25px;
                    width: calc(100% / 2 - 50px);
                    .skillname {
                        display: flex;
                        justify-content: space-between;
                    }
                    .skillbar {
                        height: 20px;
                        margin: 10px 0;
                        padding: 0 5px;
                        border-radius: 50px;
                        background-color: #064749;
                        .skillfiller {
                            height: 50%;
                            border-radius: 50px;
                            transform: translateY(50%);
                            background-color: red;
                        }
                    }
                }
            }
        }
        // my skill section style end
        // education section style start
        .education-employment {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 50px 30px;
            justify-content: space-around;
            .academic {
                width: calc(100% / 2 - 40px);
                margin: 0 20px;
                .allcard {
                    padding: 30px;
                    border-radius: 5px;
                    background-color: #064749;
                    .card {
                        padding: 20px;
                        position: relative;
                        &:not(:last-child) {
                            margin-bottom: 50px;
                        }
                        .cardborder{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                        }
                        .left {
                            left: 0;
                            bottom: 0;
                            border: 4px solid;
                            border-color: transparent transparent #97e01a #97e01a;
                        }
                        .top {
                            left: 0;
                            top: 0;
                            border: 4px solid;
                            border-color: #97e01a transparent transparent #97e01a;
                        }
                        .right {
                            top: 0;
                            right: 0;
                            border: 4px solid;
                            border-color: #97e01a #97e01a transparent transparent;
                        }
                        .bottom {
                            right: 0;
                            bottom: 0;
                            border: 4px solid;
                            border-color: transparent #97e01a #97e01a transparent ;
                        }
                        .edudetails {
                            .date {
                                font-size: small;
                                padding: 10px 0;
                                color: #82c214;
                            }
                        }
                    }
                }
            }
        }
        // education section style end

        // testimonials section style start
        .testimonials {
            padding: 30px 0;
            .testimonialheader {
                text-align: center;
                margin: 30px 0;
                p {
                    font-style: italic;
                    font-size: small;
                }
            }
            .testimonialscontainer {
                overflow: hidden;
                position: relative;
                // slider button style
                .btn {
                    position: absolute;
                    left: 20px;
                    top: 0;
                    font-size: 20px;
                    padding: 10px;
                    z-index: 9;
                    &:hover {
                        cursor: pointer;
                    }
                }
                #right {
                    left: auto;
                    right: 20px;
                    border-radius: 10px 0 0 10px;
                }
                // testimonials slider section
                .alltestimonials {
                    position: relative;
                    top: 23px;
                    left: 0;
                    width: 200%;
                    transition: left 0.5s;
                    // testimonials slider content
                    .testimonialofclint {
                        width: calc( 100% / 4 - 40px);
                        float: left;
                        margin: 20px;
                        border-radius: 10px;
                        background-color: rgb(13, 87, 87);
                        &::after {
                            content: "";
                            clear: left;
                        }
                        h5 {
                            text-align: center;
                            color: #97e01a;
                            margin: 20px 0; 
                        }
                        .testimonialdetails {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-evenly;
                            align-items: center;
                            .clintImg,
                            .testimonialstext {
                                padding: 15px;
                            }
                            .testimonialstext {
                                line-height: 0;
                                h5 {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
        // testimonials section style end

        // my interests section style start
        .myinterest {
            padding: 50px 0;
            header {
                text-align: center;
                p {
                    font-size: small;
                    font-style: italic;
                }
            }
            .alinterest {
                width: 80%;
                margin: 0 auto;
                margin-top: 30px;
                padding: 20px;
                background-color: #06474988;
                border-radius: 10px;
                .row {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    margin: 20px 0;
                    p {
                        width: calc(100% / 4 - 40px);
                        margin: 0 15px;
                        padding: 8px 0;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-evenly;
                        border-radius: 10px;
                        background-color: #064749;
                        span {
                            &:first-child {
                                padding-right: 8px;
                                border-right: 2px solid #97e01a;
                            }
                            
                        }
                    }
                }
            }
        }
        // my interests section style end
    }
    // about main section style end
}


// for smaller screen pc view (1024 px)
@media screen and (max-width: 1024px) {
    
}

// for tablet view
@media screen and (max-width: 768px) {
    .about {
        main {
            // testimonials section style start
            .testimonials {
                .testimonialscontainer {
                    .alltestimonials {
                        width: 400%;
                        .testimonialofclint {
                            width: calc( 100% / 4 - 40px);
                        }
                    }
                }
            }
            // testimonials section style end 
            // education section style start
            .education-employment {
                flex-direction: column;
                margin-bottom: 0;
                .academic {
                    width: calc(100% - 40px);
                    &:last-child {
                        margin-top: 50px; 
                    }
                    .card {
                        .edudetails {
                            .text {
                                text-align: justify;
                            }
                        }
                    }
                }
            }
            // education section style end
            // my interests section style start
            .myinterest {
                .alinterest {
                    width: 100%;
                    margin-top: 20px;
                    border-radius: 0;
                    .row {
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: space-evenly;
                        p {
                            width: 60%;
                            margin: 0 auto;
                            &:not(:first-child) {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
            // my interests section style end
        }  
    }  
}

// for mobile or less than (600px view)
@media screen and (max-width: 600px) {
    .about {
        // about header section style start
        .aboutheader {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 0;
            .myimage {
                width: 80%;
            }
            .mytext {
                width: 90%;
                margin-top: 50px;
                .about-me-btn {
                    justify-content: center;    
                }
            }
        }
        // about header section style end
        // about main section style start
        main {
            // my skill section style start
            .myskills {
                .skillcontainer {
                    .skill {
                        margin: 15px 5px;
                        width: calc(100% - 10px);
                    }
                }
            }
            // my skill section style end
        }
        // about main section style end
    }
}