
.home {
    width: 100%;
    height: calc( 100vh - 10px );
    background-image: url(../image/home-background-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    div.herotext {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1 {
            margin: 30px 0;
        }
        .home-page-btn {
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 30px;
            a {
                display: inline;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}


// ====================================
// for laptop or less ten 1024px view
// ====================================
@media screen and (max-width: 1024px) {
    .home {
        height: 100vh;
    }
}


// ====================================
// for Tablet or less ten 768px view
// ====================================
@media screen and (max-width: 768px) {
    
}


// ====================================
// for mobile or less ten 600px view
// ====================================
@media screen and (max-width: 600px) {
    .home {
        background-image: url();
        div.social-icons {
            left: 0;
            text-align: center;
        }
    }
}



