
.service {
    background-color: darkslategray;
    // service header style start
    header {
        h2 {
        position: relative;
        padding-top: 30px;
        padding-bottom: 20px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom: 5px solid #00b900;
            }
        } 
    }
    // service header style end
    // service main section style start
    main {
        padding: 30px 0;
        // services catagory section style start
        .servicecatagory {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .typeofservice {
                width: calc(100% / 2 - 50px);
                margin: 0 25px;
                padding: 20px;
                text-align: center;
                background-color: rgb(34, 54, 54);
                border-radius: 5px;
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 40px;
                }
                .serviceicon {
                    span {
                        width: 100px;
                        height: 100px;
                        display: inline-flex;
                        background-color: rgb(19, 17, 19);
                        justify-content: center;
                        align-items: center;
                        font-size: 40px;
                        border: 2px solid #00b900;
                        border-radius: 50%;
                    }
                }
                h4 {
                    padding-top: 20px;
                    padding-bottom: 15px;
                }
            }
        }
        // services catagory section style start
        // working porcess setion style start
        .workingprocess {
            margin: 30px 20px 0 20px;
            padding: 10px;
            background-color: rgb(34, 54, 54);
            .processcontainer {
                display: flex;
                flex-wrap: nowrap;
                .processcol {
                    width: calc(100% / 3);
                    .processrow {
                        padding: 10px;
                        color: #95da95;
                        .number {
                            color: #00b900;
                        }
                        h4 {
                            color: #b8d1b8;
                        }
                    }
                }
                .firstcol {
                    text-align: right;
                }
                .secondcol {
                    padding: 10px;
                    border: 3px solid #ffffff;
                    border-radius: 50%;
                    .processcircle {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        border: 3px solid green;
                        border-radius: 50%;
                        .processsubcircle {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            p {
                                font-size: 30px;
                                line-height: 1.3;
                            }
                        }
                    }
                }
            }
        }
        // working porcess setion style end
        // pricing section style start
        .pricing {
            .pricecontainer {
                display: flex;
                flex-wrap: nowrap;
                margin-top: 100px;
                .price {
                    width: calc(100% / 3 - 30px);
                    margin: 0 15px;
                    background-color: rgb(34, 54, 54);
                    border-radius: 10px;
                    text-align: center;
                    .priceicon {
                        width: 80px;
                        height: 80px;
                        background-color: rgb(24, 37, 37);
                        margin: 0 auto;
                        padding: 5px;
                        border-radius: 50%;
                        transform: translateY(-50%);
                        &:hover p {
                            border: 3px solid #00b900;
                        }
                        p {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            i {
                                font-size: 30px;
                            }
                        }
                    }
                    .package {
                        padding-bottom: 20px;
                        h3 {
                            border-bottom: 5px solid darkslategray;
                            padding-bottom: 15px;
                        }
                        h6 {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        // pricing section style end
    }
    // service main section style end
}


// ========================================
// for screen which is less than 1025px
// ========================================
@media screen and (max-width: 1024px) {
    
}


// ========================================
// for tablet view screen
// ========================================
@media screen and (max-width: 768px) {
    .service {
        // service main section style start
        main {
            // services catagory section style start
            .servicecatagory {
                .typeofservice {
                    width: calc(100% - 40px);
                    margin: 20px 20px;
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-top: 20px;
                    }
                }
            }
            // services catagory section style end
        }
        // service main section style end
    }
}


// ========================================
// for mobile view screen 
// ========================================
@media screen and (max-width: 600px) {
    .service {
        main {
            // working porcess setion style start
            .workingprocess {
                padding: 10px;
                .processcontainer {
                    .processcol {
                        width: calc(100% / 2);
                        &:first-child {
                            border-right: 3px solid #00b900;
                        }
                        .processrow {
                            padding: 20px;
                            &:nth-child(1),
                            &:nth-child(3) {
                                border-bottom: 3px solid #00b900;
                            }
                        }
                    }
                    .secondcol {
                        display: none;
                    }

                }
            }
            // working porcess setion style end
            // pricing section style start
            .pricing {
                .pricecontainer {
                    flex-wrap: wrap;
                    .price {
                        width: calc(100% - 30px);
                        &:not(:first-child) {
                            margin-top: 100px;
                        }
                    }
                }
            }
            // pricing section style end
        }
    }
}