
.sidebar {
    width: 300px;
    position: fixed;
    height: 100vh;
    background-color: $primary-background;
    z-index: 999;
    .navbar {
        margin-top: 20px;
        ul {
            list-style-type: none;
            text-align: center;
            li {
                position: relative;
                a {
                    display: block;
                    text-decoration: none;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 400;
                    padding: 10px 20px;
                    &:hover {
                        color: $link-hover-color;
                        background-color: $secondary-background-color;
                    }
                }
                &:hover::before {
                    content: "";
                    border: 18px solid;
                    border-color: transparent transparent transparent rgb(82, 78, 78);
                    position: absolute;
                    left: 100%;
                    top: 0;
                    bottom: 0;
                }
            }
            li:not(:last-child) {
                border-bottom: 1px solid #000000;
            }
        }
    }
}

// active menu class style start
.menu {
    color: $nav-link-color;
    transition: color 0.5s;
}

.menuActive {
    color: $link-hover-color;
    background-color: $secondary-background-color;
}
// active menu class style end


// mobile-menu display block and none with humberger menu button
.responsivesidebar {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    color: $nav-link-color;
    background: $secondary-background-color;
    z-index: 99;
    padding: 10px 10px;
    div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    span {
        font-size: 30px;
        text-transform: uppercase;
        i {
            padding: 10px 15px;
            border: 1px solid #fff;
            &:hover {
                cursor: pointer;
            }
        }
    }
    }
}


@media screen and (max-width: 1024px) {
    .responsivesidebar {
        display: block;
    }
    .sidebar {
        width: 0;
        overflow: hidden;
        transition: width 0.5s;
    }
    .mobileSidebar {
        width: 300px;
        transition: width 0.5s;
    }
}


