// background color
$primary-background: #1a1717ef;
$secondary-background-color: #0d0e0c;
$secondary-light-background-color: #151613f8;

// border color
$sidebar-border: #000000;

// link color
$nav-link-color: #cec8c8;

// link hover color
$link-hover-color: #b3f122;

// font color
$primary-font-color: #ffffff;
